.link-tag {
  cursor: pointer;
  color: rgb(12, 12, 224);
  /* padding: 500px; */
  border: none;
  background-color: white;

  padding: 0;
}
.link-tag:hover {
  opacity: 0.8;
}
/* .container {
  margin: 500px 0 0 500px;
} */
